<%= render '/templates/search' %>

<main>

  <section class="mugshots">

    <%= render 'mugshots' %>

  </section>

  <%= will_paginate @mugshots %>

</main>

<center> <%= link_to 'Sitemap', sitemap_path %></center>
