<div class="mugshots-admin">

  <div class="mugshot-admin-header">

    <div class="mugshots-admin-header-item mod-name">Name</div>

    <div class="mugshots-admin-header-item mod-charges">Charges</div>

    <div class="mugshots-admin-header-item mod-delete">Delete</div>

  </div>

  <%= render 'mugshots' %>

</div>

<%= will_paginate @mugshots %>
