// Place all the styles related to the Mugshots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mugshots {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

  .mugshots-mugshot {
    flex: 0 1 250px;
    max-width: 250px;
  }

    .mugshots-mugshot-name {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .mugshots-mugshot-link-img {
      width: 100%;
    }

.mugshot {
  display: flex;
  flex-wrap: wrap;
}

  .mugshot-info {
    padding-left: 25px;
    flex: 0 1 480px;
  }

    .mugshot-info-item {

      &.mod-name {
        text-transform: capitalize;
      }

    }

  .mugshot-photos {
    flex: 0 1 480px;
  }

  .mugshot-photos-photo img {
    max-width: 480px;
  }

  .mugshot-modal {
    text-align: center;
  }

  .mugshot-admin-tools {
    text-align: center;
  }

.refetched {
  border: 1px solid red;
}

.mugshots-show-page {
  .mugshots-mugshot {
    flex: 0 1 240px;
    text-align: center;
  }
}

@media (max-width: 769px) {
  .mugshots {
    justify-content: space-around;
  }
}
@media (max-width: 414px) {
  .mugshots-mugshot {
    flex: 0 1 47%;
  }
  .mugshots-mugshot-name {
    font-size: 1.6rem;
  }
}
